<mat-toolbar color="primary">
  Angular Twitter
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<div fxLayout="row" class="container">
  <div class="sidebar" fxFlex="25%">
    <button mat-button (click)="openDialog()">Add +</button>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let subscription of subscriptions" (click)="changeSubscription(subscription.id)">
        {{subscription.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="content" fxLayout="column" fxLayoutGap="20px">
    <mat-card *ngFor="let tweet of tweets" fxFlex="100%">
      {{tweet.text}}
    </mat-card>
  </div>
</div>

<ngx-spinner></ngx-spinner>
